<div style="margin-bottom: 10px; text-align: center;">
  <label>Select Date: </label>
  <input type="date" [(ngModel)]="selectedDate" (change)="updatePath()">
</div>

<div style="height: 500px; width: 100%;">
  <google-map height="100%" width="100%" [center]="center" [zoom]="7">
    
    <map-marker 
      [position]="movingMarker" 
      [icon]="personIcon" 
      title="Tracking Person">
    </map-marker>

    <!-- <map-marker *ngFor="let point of path" [position]="point" title="Waypoint"></map-marker> -->
    
    <map-polyline [path]="path" strokeColor="blue" strokeWeight="4"></map-polyline>

  </google-map>
</div>

<div style="margin-top: 10px; text-align: center;">
  <button (click)="playAnimation()">Play</button>
  <button (click)="pauseAnimation()">Pause</button>
  <button (click)="resetAnimation()">Reset</button>
  <button (click)="changeSpeed(2)">2X</button>
  <button (click)="changeSpeed(3)">3X</button>
  <button (click)="changeSpeed(4)">4X</button>
</div>
<div style="margin-top: 10px; text-align: center;">
  <input type="range" min="0" [max]="path.length - 1" [(ngModel)]="index" (input)="onSliderChange($event)">
</div>